<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register Page</h1>
    <form action="/createuser">
        
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="email" name="email">
        <input type="text" placeholder="phonenumber" name="phonenumber">
        <input type="text" placeholder="username" name="username">
        <input type="text" placeholder="password" name="password">
        <input type="file" name="profile_pic" id="profile_pic">
        <input type="submit" value="Createuser">

    </form>

   <a href="/checkcookie"><button>Check cookie page</button></a> 
</body>
</html>